# Mississauga Coding
### Jupyter Notebook/Pandas

# Jupyter Notebook

Jupyter Notebook is a browser based IDE that is optimized for the data analysis/science workflow.
It uses a cell/output system instead of running whole python scripts in the shell.

It is very useful for exploratory analysis, where you want to type a few lines of code, and see a result.  Type a few more, result.

#### Regular Python Code

In [6]:
2+2

4

In [5]:
for x in range(0, 10):
    print("Mississauga Coding")

Mississauga Coding
Mississauga Coding
Mississauga Coding
Mississauga Coding
Mississauga Coding
Mississauga Coding
Mississauga Coding
Mississauga Coding
Mississauga Coding
Mississauga Coding

#### Where can I play with Jupyter?

http://jupyter.org/try

You can choose either Jupyter with Python or JupyterLab. <br>
Jupyter is the legacy interface that has been around for a few years.  JupyterLab is the newly built interface that was just released a few months ago.  I prefer JupyterLab.

#### How do I install Jupyter on my own machine?

For new users, it is highly recommended that you use the Anaconda Python distribution.<br>
Anaconda conveniently installs Python, the Jupyter Notebook, and other commonly used packages for scientific computing and data science.<br>
https://www.anaconda.com/download/


For more experienced Python developers, Jupyter can be installed through pip.

# Pandas

In [8]:
import pandas as pd

#### Quick intro to pandas data structures (Series/Dataframe)

DataFrame -- relational data table, with rows and named columns.<br>
Series -- a single column

The data frame is a commonly used abstraction for data manipulation. Similar implementations exist in Spark and R.

In [19]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])
display(city_names)
display(population)

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

0     852469
1    1015785
2     485199
dtype: int64

In [21]:
dfCities = pd.DataFrame({ 'City name': city_names, 'Population': population })
display(dfCities)

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

In [41]:

df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/all-ages.csv", sep=",")
#df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
#df = pd.read_csv("http://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv", sep=",")

In [79]:
df

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0
5,1105,PLANT SCIENCE AND AGRONOMY,Agriculture & Natural Resources,79409,63043,51077,2070,0.031791,50000,35000,75000.0
6,1106,SOIL SCIENCE,Agriculture & Natural Resources,6586,4926,4042,264,0.050867,63000,39400,88000.0
7,1199,MISCELLANEOUS AGRICULTURE,Agriculture & Natural Resources,8549,6392,5074,261,0.039230,52000,35000,75000.0
8,1301,ENVIRONMENTAL SCIENCE,Biology & Life Science,106106,87602,65238,4736,0.051290,52000,38000,75000.0
9,1302,FORESTRY,Agriculture & Natural Resources,69447,48228,39613,2144,0.042563,58000,40500,80000.0
10,1303,NATURAL RESOURCES MANAGEMENT,Agriculture & Natural Resources,83188,65937,50595,3789,0.054341,52000,37100,75000.0
11,1401,ARCHITECTURE,Engineering,294692,216770,163020,20394,0.085991,63000,40400,93500.0
12,1501,AREA ETHNIC AND CIVILIZATION STUDIES,Humanities & Liberal Arts,103740,75798,50530,5525,0.067939,46000,32000,71000.0
13,1901,COMMUNICATIONS,Communications & Journalism,987676,790696,595739,54390,0.064360,50000,35000,80000.0
14,1902,JOURNALISM,Communications & Journalism,418104,314438,235407,20754,0.061917,50000,35000,80000.0
15,1903,MASS MEDIA,Communications & Journalism,211213,170474,125489,15431,0.083005,48000,32000,70000.0
16,1904,ADVERTISING AND PUBLIC RELATIONS,Communications & Journalism,186829,147433,111552,10624,0.067216,50000,34000,75000.0
17,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,62141,49609,37261,4609,0.085009,50000,34500,75000.0
18,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics,253782,218248,189950,11945,0.051891,65000,45000,90000.0
19,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,Computers & Mathematics,29317,22828,18747,2265,0.090264,60000,40000,85000.0
20,2102,COMPUTER SCIENCE,Computers & Mathematics,783292,656372,561052,34196,0.049519,78000,51000,105000.0
21,2105,INFORMATION SCIENCES,Computers & Mathematics,77805,66393,57604,3704,0.052841,68000,46200,95000.0
22,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,Computers & Mathematics,39362,32366,28156,2626,0.075046,55000,40000,80000.0
23,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,Computers & Mathematics,51771,44071,35954,2748,0.058694,55000,36000,80000.0
24,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,42325,33388,25780,1941,0.054941,40000,26200,60000.0
25,2300,GENERAL EDUCATION,Education,1438867,843693,591863,38742,0.043904,43000,32000,59000.0
26,2301,EDUCATIONAL ADMINISTRATION AND SUPERVISION,Education,4037,3113,2468,0,0.000000,58000,44750,79000.0
27,2303,SCHOOL STUDENT COUNSELING,Education,2396,1492,1093,169,0.101746,41000,33200,50000.0
28,2304,ELEMENTARY EDUCATION,Education,1446701,819393,501786,32685,0.038359,40000,31000,50000.0
29,2305,MATHEMATICS TEACHER EDUCATION,Education,68808,47203,29494,1610,0.032983,43000,34000,60000.0
...,...,...,...,...,...,...,...,...,...,...,...
143,6005,FILM VIDEO AND PHOTOGRAPHIC ARTS,Arts,133508,107651,69303,10080,0.085619,47000,30000,70000.0
144,6006,ART HISTORY AND CRITICISM,Humanities & Liberal Arts,90852,61295,38989,4185,0.063913,44500,30000,70000.0
145,6007,STUDIO ARTS,Arts,81008,58799,36943,5372,0.083714,37600,24900,58000.0
146,6099,MISCELLANEOUS FINE ARTS,Arts,8511,6431,3802,1190,0.156147,45000,30000,60000.0
147,6100,GENERAL MEDICAL AND HEALTH SERVICES,Health,104516,78198,53746,4525,0.054701,50000,35000,73000.0
148,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,Health,74977,49393,26085,2407,0.046467,42000,30000,60000.0
149,6103,HEALTH AND MEDICAL ADMINISTRATIVE SERVICES,Health,108510,85360,67294,5160,0.057004,50000,35000,75000.0
150,6104,MEDICAL ASSISTING SERVICES,Health,64316,51279,25118,1660,0.031357,55000,37000,75000.0
151,6105,MEDICAL TECHNOLOGIES TECHNICIANS,Health,164990,121479,92128,4564,0.036210,60000,45000,76000.0
152,6106,HEALTH AND MEDICAL PREPARATORY PROGRAMS,Health,32514,19009,13147,1431,0.070010,50000,34000,85000.0
153,6107,NURSING,Health,1769892,1325711,947546,36503,0.026797,62000,48000,80000.0
154,6108,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,Health,180084,124058,89234,4414,0.034358,106000,78000,125000.0
155,6109,TREATMENT THERAPY PROFESSIONS,Health,252138,199174,128115,5378,0.026292,61000,40000,80000.0
156,6110,COMMUNITY AND PUBLIC HEALTH,Health,56741,42543,28912,3032,0.066528,47000,32800,70000.0
157,6199,MISCELLANEOUS HEALTH MEDICAL PROFESSIONS,Health,77647,52610,35676,2978,0.053573,45000,32000,62000.0
158,6200,GENERAL BUSINESS,Business,2148712,1580978,1304646,85626,0.051378,60000,40000,95000.0
159,6201,ACCOUNTING,Business,1779219,1335825,1095027,75379,0.053415,65000,42500,100000.0
160,6202,ACTUARIAL SCIENCE,Business,9763,7846,6880,466,0.056064,72000,53000,115000.0
161,6203,BUSINESS MANAGEMENT AND ADMINISTRATION,Business,3123510,2354398,1939384,147261,0.058865,58000,39500,86000.0
162,6204,OPERATIONS LOGISTICS AND E-COMMERCE,Business,57200,47341,41104,2141,0.043268,65000,45000,90000.0
163,6205,BUSINESS ECONOMICS,Business,75547,57983,48471,3816,0.061749,65000,45000,100000.0
164,6206,MARKETING AND MARKETING RESEARCH,Business,1114624,890125,704912,51839,0.055033,56000,38500,90000.0
165,6207,FINANCE,Business,816548,670681,561073,34166,0.048473,65000,45000,100000.0
166,6209,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,Business,187274,142879,116466,9241,0.060748,54000,38000,80000.0
167,6210,INTERNATIONAL BUSINESS,Business,86064,66453,51012,5106,0.071354,54000,38600,80000.0
168,6211,HOSPITALITY MANAGEMENT,Business,200854,163393,122499,8862,0.051447,49000,33000,70000.0
169,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,156673,134478,118249,6186,0.043977,72000,50000,100000.0
170,6299,MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION,Business,102753,77471,61603,4308,0.052679,53000,36000,83000.0
171,6402,HISTORY,Humanities & Liberal Arts,712509,478416,354163,33725,0.065851,50000,35000,80000.0
172,6403,UNITED STATES HISTORY,Humanities & Liberal Arts,17746,11887,8204,943,0.073500,50000,39000,81000.0

In [46]:
print("Total Graduates:", df['Total'].sum())
print("Employed:", df['Employed'].sum())
print("Employed Percentage:", df['Employed'].sum()/df['Total'].sum())

Total Graduates: 39834398
Employed: 28746023
Employed Percentage: 0.7216381932017649

In [75]:
unemp_by_major_cat = df.groupby(['Major_category'])['Total', 'Unemployed'].sum()
unemp_by_major_cat['unemp percentage'] = unemp_by_major_cat['Unemployed']/unemp_by_major_cat['Total']

In [77]:
unemp_by_major_cat.sort_values(by=['unemp percentage'], ascending=True)

                                       Total  Unemployed  unemp percentage
Major_category
Health                               2950859       75013          0.025421
Education                            4700118      125336          0.026667
Agriculture & Natural Resources       632437       18551          0.029333
Physical Sciences                    1025318       38221          0.037277
Industrial Arts & Consumer Services  1033798       40360          0.039041
Engineering                          3576013      146389          0.040936
Biology & Life Science               1338186       57335          0.042845
Business                             9858741      434397          0.044062
Computers & Mathematics              1781378       79974          0.044894
Law & Public Policy                   902926       43049          0.047677
Humanities & Liberal Arts            3738335      179136          0.047919
Social Science                       2654125      132150          0.049790
Psychology & Social Work             1987278      104206          0.052437
Communications & Journalism          1803822      101199          0.056103
Arts                                 1805865      104125          0.057659
Interdisciplinary                      45199        2990          0.066152

In [78]:
unemp_by_major = df[df.Major_category == 'Social Science'].groupby(['Major_category', 'Major'])['Total', 'Unemployed'].sum()
unemp_by_major['unemp percentage'] = unemp_by_major['Unemployed']/unemp_by_major['Total']
unemp_by_major.sort_values(by=['unemp percentage'], ascending=True)

                                                   Total  Unemployed  \
Major_category Major
Social Science MISCELLANEOUS SOCIAL SCIENCES       15882         708
               ECONOMICS                          757616       34974
               SOCIOLOGY                          674558       32344
               GENERAL SOCIAL SCIENCES            127363        6132
               INTERDISCIPLINARY SOCIAL SCIENCES   61871        3030
               GEOGRAPHY                          115423        6202
               POLITICAL SCIENCE AND GOVERNMENT   748956       40376
               CRIMINOLOGY                         75085        4106
               INTERNATIONAL RELATIONS             77371        4278

                                                  unemp percentage
Major_category Major
Social Science MISCELLANEOUS SOCIAL SCIENCES              0.044579
               ECONOMICS                                  0.046163
               SOCIOLOGY                                  0.047948
               GENERAL SOCIAL SCIENCES                    0.048146
               INTERDISCIPLINARY SOCIAL SCIENCES          0.048973
               GEOGRAPHY                                  0.053733
               POLITICAL SCIENCE AND GOVERNMENT           0.053910
               CRIMINOLOGY                                0.054685
               INTERNATIONAL RELATIONS                    0.055292

In [55]:
unemp_by_major.ix['Business']

C:\Users\r3dh2t\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Total                            9858741
Employed_full_time_year_round    6171326
Name: Business, dtype: int64